@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  --btn-background: ;
} */
body {
  color: rgba(41, 41, 41, 0.8);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    241deg,
    #ffffff 0%,
    #f8f4ff 47%,
    #f2ecff 54%,
    #f9f6ff 60%,
    #f9f7fe 100%
  );
}
main {
  background: rgba(249, 247, 254, 0.5);
}
.container {
  @apply max-w-5xl my-12 mx-auto px-8;
}
h1 {
  font-size: 2.5rem;
  font-weight: 500;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav {
  margin-right: 3vw;
  display: flex;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: large;
  font-weight: 500;
  background: -webkit-linear-gradient(#afafaf, #272727);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 200ms ease-in-out;
}
nav a {
  margin-right: 15px;
}
nav a:hover {
  background: -webkit-linear-gradient(#cb18f8, #383838);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Navbar {
  width: 70vw;
  display: flex;
  justify-content: flex-start;
  margin: 2vh 10vw;
}
.Navbar .user-nav {
  display: flex;
  margin-right: auto;
}
.btn {
  box-shadow: inset 1px 1px 22px -15px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #cb18f8d2;
  padding: 8px 20px;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  color: #eee;
  background-color: #cb18f8;
  cursor: pointer;
}
.card {
  @apply bg-white 
    shadow-sm 
    rounded-md 
    py-3 px-4 my-4 
    relative 
    overflow-hidden;
}
.card:hover {
  @apply shadow-md;
}
.card h3 {
  @apply font-bold text-gray-700 text-sm 
    mb-0;
}
.card p {
  @apply my-4 text-sm leading-6;
}
.pill {
  @apply py-1 px-2 mt-3
    inline-block 
    text-xs font-semibold;
}
.pill.high {
  @apply bg-red-300 text-red-600;
}
.pill.medium {
  @apply bg-blue-300 text-blue-600;
}
.pill.low {
  @apply bg-emerald-300 text-emerald-600;
}
.card .pill {
  @apply absolute bottom-0 left-0 
    rounded-tr-md;
}
.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.Footer h4 {
  color: #fff;
  font-size: smaller;
}
.Footer .credit {
  color: #fff;
  font-size: xx-small;
  margin-bottom: 1px;
}
.rainbow {
  @apply bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500;
}
