@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --btn-background: ;
}
body {
  color: rgba(41, 41, 41, 0.8);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    241deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 244, 255, 1) 47%,
    rgba(242, 236, 255, 1) 54%,
    rgba(249, 246, 255, 1) 60%,
    rgba(249, 247, 254, 1) 100%
  );
}
main {
  background: rgba(249, 247, 254, 0.5);
}
